# Ignore virtual environment
venv/

# Ignore .env file (containing environment variables)
.env

# Ignore compiled Python files and cache
__pycache__/
*.pyc
*.pyo

# Ignore editor-specific files 
.vscode/
.idea/


